@{
    ViewData["Title"] = "Threads List";
}

<div class="well">
    <h2>Unanswered threads</h2>
    <div>
        <p>This is a list of all threads found on our forum that have not yet been marked as answered by the original posters.</p>
        <p>
            Threads that have been set to <span class="label label-success">Done</span> and have new reply since the last time they were marked as done will be set to: <br />
            <span class="label label-danger">Needs attention</span> If no one is assigned <br />
            <span class="label label-warning">Not done</span> If there is someone assigned <br />
        </p>
        <hr />
        <p>
            <strong>TODO:</strong> <span class="label label-warning">Not done</span> or <span class="label label-danger">Needs attention</span> older than 1 week to be marked as <span class="label label-danger lb-lg">Urgent</span>
        </p>
    </div>
</div>

<div ng-controller="threadsListController" ng-cloak>
    <div ng-show="loading" class="alert alert-info" role="alert">LOADING... this could take some time as the forums server is not that fast and it needs to be crawled.</div>
    <div ng-show="!loading">
        <div id="filter">
            <button class="btn btn-default" ng-click="toggleShowClosed()">Show/Hide <span class="label label-success">Done</span></button>
        </div>
        <hr />
        <table ng-show="threads" class="table table-striped table-condensed">
            <tbody>
                <tr ng-repeat="thread in threads">
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="toggleOpened(thread)">{{thread.opened ? 'Set done' : 'Set not done'}}</button>
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-show="!thread.changingOwner" ng-click="thread.changingOwner = true">Assign to</button>
                        <span ng-show="thread.changingOwner">
                            <input type="text" ng-model="thread.newOwner" /> <br />
                            <button ng-click="changeOwner(thread)" class="btn btn-xs">Save</button>
                            <button ng-click="thread.changingOwner = false" class="btn btn-xs">Cancel</button>
                        </span>
                    </td>
                    <td>
                        |
                    </td>
                    <td>
                        <span class="label label-danger lb-sm" ng-show="thread.opened && !thread.assignedTo">Needs attention</span>
                        <span class="label label-warning lb-sm" ng-show="thread.opened && thread.assignedTo">Not done</span>
                        <span class="label label-success lb-sm" ng-show="!thread.opened">Done</span>
                    </td>
                    <td>
                        <a href="{{thread.link}}"><strong>{{thread.title}}</strong></a>
                    </td>
                    <td>
                        <span ng-show="thread.assignedTo" class="badge">{{thread.assignedTo}}</span>
                    </td>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        (function () {

            forumsApp.controller('threadsListController', ['$scope', 'threadsService', 'msg',
                function ($scope, threadsService, msg) {
                    var showClosedFilter = false;
                    var allThreads;

                    $scope.changingOwner = false;

                    $scope.changeOwner = function (thread) {
                        thread.changingOwner = false;
                        thread.assignedTo = thread.newOwner;
                        updateThread(thread);
                    }

                    $scope.toggleOpened = function (thread) {
                        thread.opened = !thread.opened;
                        updateThread(thread);
                    }

                    $scope.toggleShowClosed = function () {
                        showClosedFilter = !showClosedFilter;
                        refreshThreads();
                    };

                    updateThread = function (thread) {
                        threadsService.update(thread)
                            .then(function () {
                                refreshThreads();
                            }, function (err) {
                                msg.showError(err, 5000);
                                Init();
                            })
                    }

                    function Init() {
                        $scope.loading = true;
                        threadsService.getThreads()
                            .then(function (data) {
                                allThreads = data;
                                refreshThreads();
                                $scope.loading = false;
                            }, function (err) {
                                msg.showError(err, 5000);
                            })
                    }

                    function refreshThreads() {
                        $scope.threads = allThreads.filter(function (thread) {
                            if (!thread.opened && !showClosedFilter) {
                                return false;
                            } else {
                                return true;
                            }
                        })
                    }

                    Init();
                }
            ]);
        })();
    </script>
}